@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --main-font:'Montserrat', sans-serif;
    --main-color:#6d6d6d;
    --secondary-color:#121416;
    --third-color:#ed1c24;
    --gradient-color:#fc6e72;
    --background-color:#f3f2f2;
}
*{
    box-sizing: border-box;
}
body{
    font-family: var(--main-font);
}
/*header & nav-bar*/
header{
    padding:2em 6em;
    display: flex;
    justify-content: center;
}
header .box{
    display: flex;
    flex-direction: column;
    width:1150px;
    max-width:1170px;
    gap:45px;
}
header .box .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .box .top .logo{
    width:170px;
}
header .box .top .group{
    display: flex;
    align-items: center;
    gap:30px;
}
header .box .top .group ul{
    display: flex;
    gap:10px;
    color:var(--main-color);
    cursor: pointer;
}
header .box .top .group ul .active{
    color:var(--third-color);
}
header .box .top .group img{
    width:85px;
}
header .box nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .box nav .left ul{
    display: flex;
    gap:30px;
}
header .box nav .left ul li{
    text-transform: uppercase;
    font-size:0.9em;
    color:var(--main-color);
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
header .box nav .left ul li:hover{
    color:var(--third-color);
}
header .box nav .left ul li::after{
    position: absolute;
    content:"";
    width:0;
    height:1px;
    bottom:-10px;
    left:0;
    background-color: var(--third-color);
    transition: .3s ease-in-out;
}
header .box nav .left ul li:hover::after{
    width:100%;
}
header .box nav .right{
    display: flex;
    gap:15px;
}
header .box nav .right i{
    color:var(--main-color);
    cursor: pointer;
    transition: .3s ease-in-out;
}
header .box nav .right i:hover{
    color:var(--third-color);
}
/*first section*/
#first-section{
    padding:2em 6em;
    display: flex;
    justify-content: center;
    background-color:var(--background-color)
}
#first-section .box{
    width:1150px;
    max-width: 1170px;
    display: flex;
    align-items: center;
}
#first-section .box .img-box{
    width:635px;
}
#first-section .box .img-box img{
    width:100%;
    object-fit: cover;
}
#first-section .box .text-box{
    display: flex;
    flex-direction: column;
    gap:30px;
    text-align: center;
    align-items: center;
}
#first-section .box .text-box h1{
    color:var(--secondary-color);
    text-transform: uppercase;
    font-size:2.5em;
    font-weight: 500;
}
#first-section .box .text-box p{
    width:390px;
    font-size:1.1em;
    line-height:25px;
    color:var(--main-color);
    font-weight: 500;
}
#first-section .box .text-box button{
    padding:15px;
    width:150px;
    color:white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-image: linear-gradient(to right,var(--third-color),var(--gradient-color));
    font-size:1em;
    transition: .3s ease-in-out;
}
#first-section .box .text-box button:hover{
    background-image: linear-gradient(to left,var(--third-color),var(--gradient-color));
}
/*second section*/
#second-section{
    padding:6em;
    display: flex;
    justify-content: center;
}
#second-section .box{
    width:1150px;
    max-width: 1170px;
    display: flex;
    flex-direction: column;
    gap:20px;
    align-items: center;
    justify-content: center;
}
#second-section .box h1{
    color:var(--secondary-color);
    font-size:2.2em;
    font-weight: 500;
}
#second-section .box p{
    color:var(--main-color);
    width:620px;
    text-align: center;
    line-height: 25px;
}
#second-section .box .cards{
    display: flex;
    flex-wrap: wrap;
    gap:80px;
    margin-top:80px;
    justify-content: space-between;
    position: relative;
}
#second-section .box .cards::before{
    position: absolute;
    content: "";
    background-color: #e9e7e7;
    height:100%;
    width:1px;
    left:50%;
}
#second-section .box .cards::after{
    position: absolute;
    content: "";
    background-color: #e9e7e7;
    width:100%;
    height:1px;
    bottom:50%;
}
#second-section .box .cards .card{
    display: flex;
    align-items: center;
    width:500px;
    justify-content: space-around;
}
#second-section .box .cards .card .icon .fa-solid{
    color:var(--third-color);
}
#second-section .box .cards .card .text-box{
    display: flex;
    flex-direction: column;
    gap:25px;
}
#second-section .box .cards .card .text-box h1{
    font-size:1.4em;
    position: relative;
}
#second-section .box .cards .card .text-box h1::after{
    position: absolute;
    content: "";
    width:0;
    height:1px;
    left:0;
    bottom:-10px;
    background-color:var(--secondary-color);
    transition: .3s ease-in-out;
}
#second-section .box .cards .card:hover.card .text-box h1::after{
    width:100%;
}
#second-section .box .cards .card .text-box p{
    font-size:0.9em;
    width:315px;
    text-align: left;
}
/*third section*/
#third-section{
    background-color: var(--background-color);
    padding:6em;
    display: flex;
    justify-content: center;
}
#third-section .box{
    width:1150px;
    max-width: 1170px;
    display: flex;
    flex-direction: column;
    gap:60px;
    text-align: center;
}
#third-section .box h1{
    font-size:1.9em;
    font-weight: 500;
    color:var(--secondary-color);
}
#third-section .box .card-box{
    display: flex;
    justify-content: space-between;
}
#third-section .box .card-box .card{
    width:255px;
    position: relative;
}
#third-section .box .card-box .card img{
    width:100%;
    object-fit: cover;
    border-radius:5px;
    cursor: pointer;
}
#third-section .box .card-box .card h1{
    position: absolute;
    bottom:20px;
    left:10px;
    font-size:1.4em;
    color:white;
}
#third-section .box button{
    padding:20px;
    width:250px;
    align-self: center;
    color:white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-image: linear-gradient(to right,var(--third-color),var(--gradient-color));
    font-size:0.9em;
    font-weight: 600;
    transition: .3s ease-in-out;
}
#third-section .box button:hover{
    background-image: linear-gradient(to left,var(--third-color),var(--gradient-color));
}
/*fourth-section*/
#fourth-section{
    padding:6em;
    display: flex;
    justify-content: center;
}
#fourth-section .box{
    display: flex;
    flex-direction: column;
    gap:30px;
    text-align: center;
}
#fourth-section .box h1{
    font-size:1.9em;
    font-weight: 500;
    color:var(--secondary-color);
}
#fourth-section .box p{
    width:590px;
    color:var(--main-color);
    line-height:25px;
    align-self:center;
}
#fourth-section .box .cards{
    display:flex;
    justify-content: center;
    margin-top:50px;
}
#fourth-section .box .cards .card{
    width:337px;
    height:285px;
    position: relative;
}
#fourth-section .box .cards .card::after{
    position: absolute;
    content:"";
    width:100%;
    height:100%;
    top:0;
    left:0;
    opacity:0.6;
    background-color:var(--secondary-color);
    transition: .3s ease-in-out;
}
#fourth-section .box .cards .card:hover::after{
    opacity:0.4;
}
#fourth-section .box .cards .card img{
    width:100%;
    height:100%;
    object-fit: cover;
}
#fourth-section .box .cards .card .fa-solid{
    position: absolute;
    color:white;
    top:35%;
    left:43%;
    z-index:1;
}
#fourth-section .box .cards .card h1{
    position: absolute;
    color:white;
    font-size:1.2em;
    top:60%;
    left:33%;
    z-index:1;
}
#fourth-section .box .group{
    margin-top:50px;
    display: flex;
    justify-content:space-evenly;
}
#fourth-section .box .group .item{
    display: flex;
    gap:20px;
    align-items: center;
}
#fourth-section .box .group .item .fa-solid{
    color:var(--third-color);
}
#fourth-section .box .group .item h1{
    font-size:1em;
    text-align: left;
    color:var(--secondary-color);
}
#fourth-section .box .group .item h1 span{
    font-size:1.9em;
}
/*fifth section*/
#fifth-section{
    padding:6em;
    background-color: rgb(229, 255, 229);
    position: relative;
    display: flex;
    justify-content: center;
}
#fifth-section > img{
    position: absolute;
}
#fifth-section .left-tree{
    left:0;
    width:209px;
}
#fifth-section .right-tree{
    right:0;
    width:227px;
}
#fifth-section .box{
    width:1150px;
    max-width:1170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:40px;
    text-align: center;
}
#fifth-section .box .logo{
    width:100px;
}
#fifth-section .box h1{
    font-size:2em;
    font-weight: 500;
    color:var(--secondary-color);
}
#fifth-section .box p{
    width:870px;
    color:var(--main-color);
    line-height: 25px;
}
#fifth-section .box button{
    padding:20px;
    width:190px;
    color:white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-image: linear-gradient(to right,var(--third-color),var(--gradient-color));
    font-size:0.9em;
    font-weight: 600;
    transition: .3s ease-in-out;
}
#fifth-section .box button:hover{
    background-image: linear-gradient(to left,var(--third-color),var(--gradient-color));
}
/*sixth section*/
#sixth-section{
    padding:6em;
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
}
#sixth-section .box{
    width: 1150px;
    max-width: 1170px;
    display: flex;
    flex-direction: column;
    gap:60px;
    text-align: center;
}
#sixth-section .box h1{
    font-size:2em;
    color:var(--secondary-color);
    font-weight: 500;
}
#sixth-section .box .cards{
    display: flex;
    justify-content: space-between;
}
#sixth-section .box .cards .card{
    width:255px;
    position: relative;
}
#sixth-section .box .cards .card img{
    width:100%;
    border-radius: 5px;
    cursor: pointer;
    object-fit: cover;
}
#sixth-section .box .cards .card div{
    position: absolute;
    color:white;
    background-image: linear-gradient(to right,var(--third-color),var(--gradient-color));
    padding:15px 10px;
    border-radius: 5px;
    top:10px;
    right:10px;
}
#sixth-section .box .cards .card div span{
    font-size:1.5em;
}
#sixth-section .box .cards .card h1{
    font-size:1em;
    line-height: 25px;
    margin-top:20px;
}
#sixth-section .box .cards .card h1:hover{
    color:var(--third-color);
}
#sixth-section .box button{
    padding:20px;
    width:190px;
    color:white;
    align-self: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-image: linear-gradient(to right,var(--third-color),var(--gradient-color));
    font-size:0.9em;
    font-weight: 600;
    transition: .3s ease-in-out;
}
#sixth-section .box button:hover{
    background-image: linear-gradient(to left,var(--third-color),var(--gradient-color));
}
/*seventh section*/
#seventh-section{
    padding:6em;
    display: flex;
    justify-content: center;
}
#seventh-section .card-box{
    width:1150px;
    max-width: 1170px;
    display: flex;
    justify-content: space-between;
}
#seventh-section .card-box .card{
    display: flex;
    flex-direction: column;
    gap:30px;
}
#seventh-section .card-box .card img{
    width:349px;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
}
#seventh-section .card-box .card h1{
    font-size:1.2em;
    color:var(--secondary-color);
}
#seventh-section .card-box .card p{
    color:var(--main-color);
    width:340px;
    line-height: 25px;
}
/*footer*/
footer{
    padding:6em 6em 2em;
    background-color: #252525;
    display: flex;
    justify-content: center;
}
footer .box{
    width:1150px;
    max-width: 1170px;
    display: flex;
    flex-direction: column;
    gap:50px;
    color:white;
}
footer .box .top{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(150, 150, 150);
    padding-bottom: 40px;
}
footer .box .top .column{
    display: flex;
    flex-direction: column;
    gap:30px;
}
footer .box .top .column img{
    width:125px;
}
footer .box .top .column h2{
    width:300px;
    line-height: 25px;
    font-size: 0.9em;
}
footer .box .top .column h1{
    text-transform: uppercase;
}
footer .box .top .column ul{
    display: flex;
    flex-direction: column;
    gap:20px;
}
footer .box .top .column ul li{
    font-size:0.9em;
    width:200px;
    line-height:20px;
    cursor:pointer;
    transition: .2s ease-in-out;
}
footer .box .top .column ul li:hover{
    color:var(--third-color);
}
footer .box .bottom{
    display: flex;
    justify-content: center;
}
footer .box .bottom h1{
    font-weight: 500;
}